Python Aleatório/codigosAleatorios.py
Python/codigosAleatorios.py
Códigos de ChatGPT/ComparaçãoLLMs.html
Códigos de ChatGPT/CopiaSuperMario.html
Códigos de ChatGPT/AprendendoPython/aula1.html
Códigos de ChatGPT/AprendendoPython/aula2.html
Códigos de ChatGPT/AprendendoPython/aula3.html
Códigos de ChatGPT/AprendendoPython/index.html
Códigos de ChatGPT/AprendendoPython/css/styles.css
Códigos de ChatGPT/AprendendoPython/js/app.js
Códigos de ChatGPT/AprendendoPython/js/lessons.js
Códigos de ChatGPT/task-canvas/app.js
Códigos de ChatGPT/task-canvas/index.html
Códigos de ChatGPT/task-canvas/styles.css
Python/codigosAleatorios.py
.vscode/settings.json
Python Aleatório/calculadora.py
CTAI - Faculdade/Algoritmos e Programação/Exercicios1.ipynb
CódigosAvulsos/task-canvas/app.js
CódigosAvulsos/task-canvas/index.html
CódigosAvulsos/task-canvas/styles.css
CódigosAvulsos/AprendendoPython/js/app.js
CódigosAvulsos/AprendendoPython/js/lessons.js
CódigosAvulsos/AprendendoPython/aula1.html
CódigosAvulsos/AprendendoPython/aula2.html
CódigosAvulsos/AprendendoPython/aula3.html
CódigosAvulsos/AprendendoPython/index.html
CódigosAvulsos/AprendendoPython/css/styles.css
CódigosAvulsos/ComparaçãoLLMs.html
CódigosAvulsos/CopiaSuperMario.html
